.sleepchart{
    display: block;
    position: absolute;
    margin-top: 500px;
    margin-left: 100px;
}

.stepchart{
    display: block;
    position: absolute;
    margin-top: 500px;
    margin-left: 100px;
}