<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10115099027-gckkidbggqgsqbu9njla8rlk642087ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10115099027-gckkidbggqgsqbu9njla8rlk642087ip</string>
	<key>API_KEY</key>
	<string>AIzaSyDeVG-34o_DwJn2tN5W25eVrTiUkDChwG8</string>
	<key>GCM_SENDER_ID</key>
	<string>10115099027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ttu.HealthKitForClass</string>
	<key>PROJECT_ID</key>
	<string>healthkitforclass</string>
	<key>STORAGE_BUCKET</key>
	<string>healthkitforclass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10115099027:ios:fcb3c1808efa75e692a066</string>
	<key>DATABASE_URL</key>
	<string>https://healthkitforclass.firebaseio.com</string>
</dict>
</plist>